{% extends 'base.html' %}
{% load static from staticfiles %} {% load bootstrap_tags %}

{% block page_title %}Password Reset{% endblock %}

{% block page_heading %}Password Reset{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %} 
    <p>Please enter your email address</p>
    
    {{ form.email.errors }}
    
    <label for="id_email">Email address:</label>
    {{ form.email }}
    <button class="btn btn-primary" type="submit">Reset Password</button>
</form>
{% endblock %}