@import url('https://fonts.googleapis.com/css?family=Roboto:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');

body {
    font-family: 'Arial', sans-serif;
    min-height: 100%
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
    padding-right: 0;
    padding-left: 0;
}

#page-content-wrap {
    padding-bottom: 118px;
}

hr {
    border-color: grey;
}

h1,
h2 {
    text-align: center;
}

a:hover,
.btn-link:hover {
    text-decoration: none;
}

.icon-bar {
    background-color: #fff;
}

.navbar-brand {
    align-items: center;
    display: inline-flex;
    padding-left: 0;
}

#navbar-brand--img {
    display: inline-flex;
    margin-right: 5px;
    width: 60px;
    height: 42px;
    background: url('../img/camera-logo.jpg') no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #00000078 inset;
}

.btn-standard {
    height: 35px;
    display: inline-flex;
    align-items: center;
}

.page-heading {
    margin-top: 25px;
}

.section-heading {
    margin-top: 25px;
    margin-bottom: 25px;
}

.accountform {
    padding-top: 20px;
}

.collection-name {
    font-family: 'Yellowtail', cursive;
    padding-bottom: 20px;
    margin-top: 15px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.carousel {}

#carouselExampleIndicators {
    margin: 0 auto;
    margin-bottom: 45px;
}

.product-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 90%;
    height: 250px;
    margin: 10px auto;
}

.product-info {
    padding: 10px;
}

.product-price {
    display: none;
}

#size-select {
    width: 50%;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.cart-img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150px;
}

.panel {
    border: solid 1px grey;
    margin-bottom: 35px;
    text-align: center;
}

.panel-default {
    padding: 10px;
}

.panel-body {
    height: 100%;
}

.product-description {
    min-height: 40px;
    text-align: justify;
}

.input-group-addon {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.collection-thumbnails {
    text-align: center;
}

.collection-thumb-img {
    height: 100px;
    width: 150px;
    box-shadow: 0 0 5px 5px #aaa;
}

.collection-thumb-img--hidden {
    display: none;
}

.carousel-item {
    max-height: 400px;
}

.carousel-caption p {
    margin-bottom: 0.4rem;
}

.purchase-link {
    display: block;
}

.cart-items {
    font-size: 1.25rem;
    font-weight: 700;
}

.accordion-btns {
    align-self: center;
    margin-left: auto;
}

.accordion-btns .btn {
    width: 75px;
    height: 30px;
    padding: 5px;
    margin: 5px 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.card-header .fa {
    font-size: 1.5rem;
}

.card-header .fa-caret-up {
    display: none;
}

.btn-link {
    width: 70%;
    padding: 0;
}

.purchase-link .fa-cart-plus:hover {
    color: #f89406;
}

.fancybox-caption .purchase-link:hover {
    text-decoration: none;
    color: #f89406;
}

.purchase-link:hover {
    color: #f89406;
}

.user-details {
    text-align: center;
    justify-content: center;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scrolling-wrapper .table {
    flex: 0 0 auto;
}

.form-group {
    margin: 1rem auto;
}

.form-row {
    display: flex;
}

.form-row .input-group {
    justify-content: center;
}

.form-row .input-group input {
    width: 100px;
}

#payment-form legend {
    text-align: center;
}

.submit_payment {
    text-align: center;
}

@media(min-width: 376px) {
    #carouselExampleIndicators {
        width: 70%;
    }
}
