@import url('https://fonts.googleapis.com/css?family=Roboto:500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family: 'Arial', sans-serif;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

hr {
    border-color: grey;
}

h1, h2 {
    text-align: center;
}

a:hover, .btn-link:hover {
    text-decoration: none;
}

.icon-bar {
    background-color: #fff;
}

#navbar-brand--img {
    height: 40px;
}

.accountform {
    padding-top: 20px;
}

.collection-heading {
    font-family: 'Quicksand', sans-serif;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#carouselExampleIndicators {
    width: 70%;
    margin: 0 auto;
}


.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 400px;
    height: 250px;
    margin: 10px auto;
}

.product-price {
    display: none;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

.collection-thumb-img {
    height: 100px;
    width: 150px;
}

.collection-thumb-img--hidden {
    display: none;
}

.carousel-item {
    max-height: 400px;
}

.carousel-caption p {
    margin-bottom: 0.4rem;
}

.purchase-link {
    display: block;
}

.accordion-btns {
    align-self: center;
    margin-left: auto;
}

.accordion-btns .btn {
    width: 75px;
    height: 30px;
    padding: 5px;
    margin: 5px 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.card-header .fa {
    font-size: 1.5rem;
}

.card-header .fa-caret-up {
    display: none;
}

.btn-link {
    width: 70%;
}