{% extends 'base.html' %} {% load bootstrap_tags %} {% block page_title %}Orders{% endblock %} {% block page_heading %}Orders{% endblock %} {% block content %}

<div class="scrolling-wrapper">
  <table class="table table-bordered table-striped table-dark">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Subject</th>
        <th>Quote ID</th>
        <th>Value</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.subject }}</td>
        {% if order.quote %}
        <td>{{ order.quote.id}}</td>
        <td>€{{ order.quote.price_total}}</td>
        {% if order.quote.accepted %}
        <td><i class="fa fa-check-circle-o" aria-hidden="true"></i> Accepted</td>
        {% elif order.quote.rejected %}
        <td><i class="fa fa-times-circle-o" aria-hidden="true"></i> Rejected</td>
        {% else %}
        <td><i class="fa fa-clock-o" aria-hidden="true"></i> Awaiting Response</td>
        {% endif %} {% else %}
        <td><a href="{% url 'create_quote' order.id %}" class="btn btn-secondary btn-standard">Provide Quote</a></td>
        <td></td>
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
