{% extends "base.html" %} {% load static from staticfiles %} {% load bootstrap_tags %}

{% block page_heading %}Summary{% endblock %}
{% block content %}
<div class="row row-flex">
    <table class="table table-bordered table-striped table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>QTY</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product_variant.product.name }}</td>
                <td>{{ item.product_variant.size }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.item_total  }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="d-flex flex-row-reverse">
    <h3>Total: €{{ total }}</h3>
</div>

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    {% csrf_token %}
    <legend class="center-text">Payment Details</legend>
    <div id="credit-card-errors" style="display: none;">
        <div id="alert-message block-message error" id="stripe-error-message"></div>
    </div>
    <div class="form-group col-md-6">
        {{ order_form | as_bootstrap }}
    </div>
    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap }}
    </div>
    <div class="form-group submit_payment center-text">
        <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>
{% endblock %} {% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
