{% extends 'base.html' %} 

{% load bootstrap_tags %} 

{% block page_heading %}{{ user.username }}'s Profile{% endblock %}

{% block content %}

<div class="row user-details">
    <div class="col-md-6">
        <h2 class="section-heading">User Details</h2>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Password: **********<a href="{% url 'password_reset' %}">Change Password</a></p>
    </div>
</div>

<h2 class="section-heading">Quotes For Requested Commissions</h2>
<div class="accordion" id="accordionExample">
    {% for quote in quotes %} 
    {% if quote.rejected == False %}
    <div class="card">
        <div class="card-header d-flex" id="heading{{forloop.counter}}">
            <button class="btn btn-link" type="button" data-toggle="collapse"
                data-target="#collapse{{forloop.counter}}" aria-expanded="true"
                aria-controls="collapse{{forloop.counter}}">
                <span class="row">
                    <span class="col-md-2">
                        ID: {{ quote.id }}
                    </span>
                    <span class="col-md-5">
                        SUBJECT: {{ quote.order.subject }}
                    </span>
                    <span class="col-md-3">
                        TOTAL: €{{ quote.price_total }}
                    </span>
                    <span class="col-md-2">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </span>
                </span>
            </button> 
            {% if quote.accepted == False %}
            <span class="accordion-btns">
                    <a href="{% url 'commission_checkout' quote.id %}" class="btn btn-success">Accept</a>
                    <a href="{% url 'reject_quote' quote.id %}" class="btn btn-danger">Reject</a>
                </span> {% else %}
            <p class="align-center">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Accepted: In Progress
            </p>
            {% endif %}
        </div>
        <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}"
            data-parent="#accordionExample">
            <div class="row card-body">
                <div class="col-md-6">
                    <h5>Details:</h5>
                    <p>Description of works: {{ quote.order.description}}</p>
                    <p>Size: {{ quote.order.size }}</p>
                </div>
                <div class="col-md-6">
                    <h5>Price:</h5>
                    <p>All works (including printing): €{{quote.price_works}}</p>
                    <p>Travel Expenses: €{{quote.price_travel}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %} 
    {% endfor %}
</div>

<h2 class="section-heading">Order History</h2>
<div class="card">
    <div class="card-header" id="headingOne">
        <button id="order-history-button" class="btn btn-link" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Expand Order History
            <i class="fa fa-caret-down" aria-hidden="true"></i>
            <i class="fa fa-caret-up" aria-hidden="true"></i>
        </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="row card-body">
            <table class="table table-bordered table-striped table-dark">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>QTY</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in order_history %}
                    <tr>
                        <td>{{ order.order_info.date }}</td>
                        <td>{{ order.product_variant.product.name }}</td>
                        <td>{{ order.product_variant.size }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.line_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
