{% extends 'base.html' %} 
{% load bootstrap_tags %}

{% block page_heading %}{{ user.username }}'s Profile{% endblock %} {% block content %}


<div class="row">
    <div class="col-md-6">
        <h2>User Details</h2>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
    </div>
    <div class="col-md-6">
        <h2>Billing Information</h2>
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="billing-info--header">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#billing-form" aria-expanded="true" aria-controls="collapse{{quote_number}}">
                            Update Billing Info
                        </button>
                    </h2>
                </div>
                <div id="billing-form" class="collapse" aria-labelledby="heading{{quote_number}}" data-parent="#accordionExample">
                    <div class="card-body">
                        <form action="{% url 'profile' %}" method="POST">
                            {% csrf_token %}
                            {{ billing_form | as_bootstrap }}
                            <input class="btn btn-light" type="submit" value="Update"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h2>Quotes For Requested Commissions</h2>

<div class="accordion" id="accordionExample">
    {% for quote_number, quote in quotes_zip %}
    <div class="card">
        <div class="card-header d-flex" id="heading{{quote_number}}">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{quote_number}}" aria-expanded="true" aria-controls="collapse{{quote_number}}">
                    <span class="row">
                        <span class="col-4">
                            ID: {{ quote.id }}
                        </span>
                        <span class="col-4">
                            SUBJECT: {{ quote.order.subject }}
                        </span>
                        <span class="col-4">
                            TOTAL: €{{ quote.price_total }}
                        </span>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                    </span>
                </button>
                
            </h2>
            <span class="accordion-btns">
                <a href="/" class="btn btn-light">Accept</a>
                <a href="/" class="btn btn-light">Reject</a>
            </span>
        </div>
        <div id="collapse{{quote_number}}" class="collapse" aria-labelledby="heading{{quote_number}}" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    {% endfor %}
    <!--    <div class="card">-->
    <!--        <div class="card-header" id="headingTwo">-->
    <!--            <h2 class="mb-0">-->
    <!--                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
    <!--          Collapsible Group Item #2-->
    <!--        </button>-->
    <!--            </h2>-->
    <!--        </div>-->
    <!--        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">-->
    <!--            <div class="card-body">-->
    <!--                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird-->
    <!--                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,-->
    <!--                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="card">-->
    <!--        <div class="card-header" id="headingThree">-->
    <!--            <h2 class="mb-0">-->
    <!--                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
    <!--          Collapsible Group Item #3-->
    <!--        </button>-->
    <!--            </h2>-->
    <!--        </div>-->
    <!--        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">-->
    <!--            <div class="card-body">-->
    <!--                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird-->
    <!--                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,-->
    <!--                raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

    {% endblock %}
